.light {
  --txt: #000;
  --txt-secondary: #ff003b;
  --txt-sec-darker: #e50035;
  --bg-layout-home: linear-gradient(307deg, transparent 0%, transparent 57%, #ffffff 57%, #f8f8f8 100%), linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  --bg-home-section-main: none;
  --bg-layout-base: linear-gradient(307deg, transparent 0%, transparent 57%, #ffffff 57%, #f8f8f8 100%), linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  --bg-primary: #fafafa;
  --bg: #b20029;
  --bg-active: rgba(197, 32, 32, 0.84);
  --bg-header: transparent;
  --bg-footer: transparent;
  --backdrop: rgba(0, 0, 0, 0.75);
  --nav-active: #ff194e;
  --border-primary: #ff003b;
  --logo-primary: #ff194e;
  --social-icon: #ff003b;
  --social-shadow: #ff99b0;
  --preloader: #fafafa;
  --bg-modal: #fafafa;
  --modal-border: none;
  --modal-close: #e50035;
  --modal-close-icon: #fff;
  --drawer-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  --btn-primary-txt: #fff;
  --tags-txt: #fff;
  --toggle-theme: #000;
}

.dark {
  --txt: #fff;
  --txt-secondary: #ff003b;
  --txt-sec-darcker: #e50035;
  --bg-layout-home: linear-gradient(to left, RGB(27 20 41), RGB(20 15 35));
  --bg-home-section-main: linear-gradient(to bottom left, rgba(17, 16, 16, 0.678), rgba(12, 10, 22, 0.863)), url(../assets/home-bg.jpg);
  --bg-layout-base: #190d0d;
  --bg-primary: rgb(24, 18, 34);
  --bg: #b20029;
  --bg-active: rgba(197, 32, 32, 0.84);
  --bg-header: rgb(24, 18, 34);
  --bg-footer: rgb(24, 18, 34);
  --backdrop: rgba(0, 0, 0, 0.75);
  --nav-active: #ff194e;
  --border-primary: #ff003b;
  --logo-primary: #ff194e;
  --social-icon: #b20029;
  --social-shadow: #e50035;
  --preloader: rgb(24, 18, 34);
  --bg-modal: rgb(24, 18, 34);
  --modal-border: 1px solid rgba(0,0,0,.125);
  --modal-close: #e50035;
  --modal-close-icon: #fff;
  --drawer-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  --btn-primary-txt: #fff;
  --tags-txt: #fff;
  --toggle-theme: #fff;
}